@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  box-sizing: border-box;
  background-color: #1e1e2d;
  scroll-behavior: smooth;
  line-height: 1;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.fadePopInAndStay {
  position: relative;
  opacity: 1;
  visibility: visible;
  animation-name: doAnimStay;
  animation-duration: 3000ms;
  animation-fill-mode: forwards; /* Makes it stay after animation */
}
@keyframes doAnimStay {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.scroll-downs {
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #8146ff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.intro-gradient {
  background: linear-gradient(89.93deg, #8146ff 2.54%, #290b68 97.4%);
  backdrop-filter: blur(100px);
}

/* .card-border {
  border-image-slice: 1;
  border-radius: 40px;
  border-image-source: linear-gradient(
    rgba(113, 20, 209, 1),
    rgba(106, 24, 192, 1),
    rgba(255, 132, 243, 1),
    rgba(223, 6, 202, 0.47)
  );
} */

.cta {
  background: linear-gradient(80deg, #290b68 0%, #8146ff 100%);
}

.cta-con {
  z-index: -1;
}

.web3-text {
  background-image: linear-gradient(
    rgba(129, 70, 255, 1),
    rgba(69, 61, 159, 1)
  );
  background-clip: text;
  color: transparent;
}
.cta-btn {
  position: relative;
  outline: none;
}

input:focus {
  outline: none;
}

.rankjoin {
  background-image: linear-gradient(
    rgba(255, 168, 89, 1),
    rgba(255, 204, 158, 0.74)
  );
  background-clip: text;
  color: transparent;
}

.cta-btn {
  background: linear-gradient(rgba(35, 10, 90, 1), rgba(35, 10, 90, 0.8));
}
input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
.web3-text {
  background-image: linear-gradient(
    rgba(129, 70, 255, 1),
    rgba(69, 61, 159, 1)
  );
  background-clip: text;
  color: transparent;
}

button {
  position: relative;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
}
button:hover {
  transform: all;
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 2px 8px white, 0px -2px 8px white;
}
.btn-span {
  display: block;
}
button::before,
button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #8146ff;
}

.btn-span::before,
.btn-span::after {
  content: "";
  width: 1px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #8146ff;
  box-shadow: 0px 0px 4px white;
  /* box-shadow: 0px 10px 25px #888, 0px -10px 25px #888; */
}
button:hover::before,
button:hover::after {
  width: 100%;
}
button:hover span::before,
button:hover span::after {
  height: 100%;
}

.btn-2::before,
.btn-2::after {
  transition-delay: 0s;
}
.btn-2 span::before,
.btn-2 span::after {
  transition-delay: 0.2s;
}
.btn-2::before {
  right: 0;
  top: 0;
}
.btn-2::after {
  left: 0;
  bottom: 0;
}
.btn-2 span::before {
  left: 0;
  top: 0;
}
.btn-2 span::after {
  right: 0;
  bottom: 0;
}
.btn-2:hover::before,
.btn-2:hover::after {
  transition-delay: 0.2s;
}
.btn-2:hover span::before,
.btn-2:hover span::after {
  transition-delay: 0s;
}
