@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  box-sizing: border-box;
  background-color: #1e1e2d;
  scroll-behavior: smooth;
  line-height: 1;
}
button:focus {
  outline: none;
}
.icon:hover {
  transition: 0.9s;
  transform: rotateY(180deg);
}

.top-btns:hover {
  transform: scale(1.1, 1.1);

}

.intro-gradient {
  background: linear-gradient(89.93deg, #8146ff 2.54%, #290b68 97.4%);
  backdrop-filter: blur(100px);
} 

nav {
  box-shadow: 0px 1px 9px rgba(255, 255, 255, 0.1);
}

.cta {
  background: linear-gradient(80deg, #290b68 0%, #8146ff 100%);
}

.cta h1 {
  font-family: "Courier New", Courier, monospace;
}
.web3-text {
  background-image: linear-gradient(
    rgba(129, 70, 255, 1),
    rgba(69, 61, 159, 1)
  );
  background-clip: text;
  color: transparent;
}
.cta-btn {
  background: linear-gradient(rgba(35, 10, 90, 1), rgba(35, 10, 90, 0.8));
}
input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.card {
  background: linear-gradient(90deg, #290b68 0%, #8146ff 100%);
}

.rankjoin {
  background-image: linear-gradient(
    rgba(255, 168, 89, 1),
    rgba(255, 204, 158, 0.74)
  );
  background-clip: text;
  color: transparent;
} 
