@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@600&family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  background-color: #1e1e2d;
  scroll-behavior: smooth;
}
button:focus {
  outline: none;
}

* {
  /* font-family: "Inter", sans-serif; */
  box-sizing: initial;
}

.icon:hover {
  transition: 0.9s;
  transform: rotateY(180deg);
}

.top-btns:hover {
  transform: scale(0.8, 0.8);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

.intro-gradient {
  background: linear-gradient(
    98.77deg,
    rgba(151, 151, 249, 0.59) 4.74%,
    rgba(78, 78, 205, 0.666034) 38.93%,
    rgba(85, 85, 255, 0.32) 65.01%
  );
}

nav {
  box-shadow: 0px 1px 9px rgba(255, 255, 255, 0.1);
}

.cta {
  background: linear-gradient(80deg, #290b68 0%, #8146ff 100%);
}

.cta h1 {
  font-family: "Courier New", Courier, monospace;
}
.web3-text {
  background-image: linear-gradient(90deg, #290b68 0%, #8146ff 100%);
  background-clip: text;
  color: transparent;
}
.cta-btn {
  background: linear-gradient(rgba(35, 10, 90, 1), rgba(35, 10, 90, 0.8));
}
input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
